In [2]:
def neutralize_uppercase(stringy):
    i = 0
    while i < len(stringy):
        # Check if the current character is uppercase
        if stringy[i].isupper():
            return ""  # Return empty string if any uppercase letter is found
        i += 1
    return stringy

In [3]:
def fun(string):
    i=0
    while i < len(string):
        if string[i].isupper():
            return ""
        i=+1
    return string

In [6]:
fun("snitch")

KeyboardInterrupt:

In [8]:
neutralize_uppercase("snitch")

'snitch'

In [19]:
def convert_pirate_to_dog(pirate_saying):
    chunks = [pirate_saying[i:i+1] for i in range(0,len(pirate_saying),1)]
    return "oo".join(chunks)

In [20]:
convert_pirate_to_dog("rema")

'rooeoomooa'

In [21]:
def append_greeting_to_name(name):
    # THIS IS BROKEN
    # YOUR JOB IS TO FIX IT
    # You can change this function as much as you want
    return "Hello " + name

In [23]:
append_greeting_to_name("rema")

'Hello rema'

In [24]:
append_greeting_to_name(1)

TypeError: can only concatenate str (not "int") to str

In [28]:
def append_greeting_to_name(name):
    if name != str:
        name = str(name)
    return "Hello " + name

In [29]:
append_greeting_to_name(1)

'Hello 1'

In [32]:
def format_date(year, month, day):
    # THIS IS BROKEN
    # YOUR JOB IS TO FIX IT
    # You can change this function as much as you want
    return "Today is {}-{}-{}".format(day, month, year)

In [33]:
format_date(2018, 3, 20)

'Today is 20-3-2018'

In [34]:
format_date(2015, 1, 19)

'Today is 19-1-2015'

In [1]:
lst = ["hi", "morning", "dog", "506", "caterpillar", "balloons", 106, "yo-yo", "python", "moon", "water", "sleepy", "daffy", 45, "donald", "whiteboard", "glasses", "markers", "couches", "butterfly", "100", "magazine", "door", "picture", "window", ["Olympics", "handle"], "chair", "pages", "readings", "burger", "juggle", "craft", ["store", "poster", "board"], "laptop", "computer", "plates", "hotdog", "salad", "backpack", "zipper", "ring", "watch", "finger", "bags", "boxes", "pods", "peas", "apples", "horse", "guinea pig", "bowl", "EECS"]
len(lst)

52

In [5]:
lst[33]

'laptop'

In [6]:
alist = [3, 67, "cat", 3.14, False]
print(len(alist))

5

In [10]:
new_lst = ["computer", "luxurious", "basket", "crime", 0, 2.49, "institution", "slice", "sun", ["water", "air", "fire", "earth"], "games", 2.7, "code", "java", ["birthday", "celebration", 1817, "party", "cake", 5], "rain", "thunderstorm", "top down"]
sub_lst = new_lst[8:]

In [11]:
len(sub_lst)

10

In [12]:
sub_lst

['sun',
 ['water', 'air', 'fire', 'earth'],
 'games',
 2.7,
 'code',
 'java',
 ['birthday', 'celebration', 1817, 'party', 'cake', 5],
 'rain',
 'thunderstorm',
 'top down']

In [14]:
lst = ["swimming", 2, "water bottle", 44, "lollipop", "shine", "marsh", "winter", "donkey", "rain", ["Rio", "Beijing", "London"], [1,2,3], "gold", "bronze", "silver", "mathematician", "scientist", "actor", "actress", "win", "cell phone", "leg", "running", "horse", "socket", "plug", ["Phelps", "le Clos", "Lochte"], "drink", 22, "happyfeet", "penguins"]

In [15]:
len(lst)

31

In [16]:
output= lst[5:14]

In [17]:
output

['shine',
 'marsh',
 'winter',
 'donkey',
 'rain',
 ['Rio', 'Beijing', 'London'],
 [1, 2, 3],
 'gold',
 'bronze']

In [18]:
l = ['w', '7', 0, 9]
m = l[1:2]

In [19]:
m

['7']

In [20]:
b = "My, what a lovely day"
x = b.split(',')
z = "".join(x)
y = z.split()
a = "".join(y)

In [21]:
a

'Mywhatalovelyday'

In [22]:
y

['My', 'what', 'a', 'lovely', 'day']

In [23]:
x

['My', ' what a lovely day']

In [24]:
z

'My what a lovely day'

In [25]:
s = "python rocks"
for ch in s:
   print("HELLO")

HELLO
HELLO
HELLO
HELLO
HELLO
HELLO
HELLO
HELLO
HELLO
HELLO
HELLO
HELLO

In [26]:
len(s)

12

In [27]:
p = [3, 4, "Me", 3, [], "Why", 0, "Tell", 9.3]
for ch in p:
   print(ch)

3
4
Me
3
[]
Why
0
Tell
9.3

In [28]:
len(p)

9

In [29]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
for w in nums:
   accum = 0
   accum = accum + w
print(accum)

10

In [34]:
numbers = []

for i in range(0,52):
    numbers.append(i)
print(numbers)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51]

In [1]:
s = "python"
for idx in range(len(s)):
   print(s[idx % 2])

p
y
p
y
p
y

ImportError: cannot import name 'Image' from 'image' (/Users/remaalnssiry/.pyenv/versions/3.10.6/envs/lewagon/lib/python3.10/site-packages/image/__init__.py)

In [12]:
t = ["word", "phrase", 8, ("beam")]
for z in t:
    print(z)

word
phrase
8
beam

In [10]:
y = 18
for z in y:
    print(z)

TypeError: 'int' object is not iterable

In [17]:
t = ["couch", "chair", "washer", "dryer", "table"]
for val in t:
    val = val+ "!"
print(type(val))

<class 'str'>

In [13]:
t = [9, "setter", 3, "wing spiker", 10, "middle blocker"]
for z in t:
    print(z)

9
setter
3
wing spiker
10
middle blocker

In [18]:
my_str = "MICHIGAN"
for char in my_str:
    print(char)

M
I
C
H
I
G
A
N

In [27]:
several_things = ["hello", 2, 4, 6.0, 7.5, 234352354, "the end", "", 99]
count = 0
for x in several_things:
        print(x,type(x))

hello <class 'str'>
2 <class 'int'>
4 <class 'int'>
6.0 <class 'float'>
7.5 <class 'float'>
234352354 <class 'int'>
the end <class 'str'>
 <class 'str'>
99 <class 'int'>

In [36]:
original_str = "The quick brown rhino jumped over the extremely lazy fox."
num_chars = 0
for i in original_str:
    num_chars = num_chars+1

print(num_chars)
# print(num_chars)

57

In [40]:
addition_str = "2+5+10+20"
addition_str = addition_str.split("+")

tot = 0
for i in addition_str:
    x = int(i)
    tot = tot+x
print(tot)

37

In [38]:
addition_str

['2', '5', '10', '20']

In [54]:
week_temps_f = "75.1,77.7,83.2,82.5,81.0,79.5,85.7"
week_temps_f = week_temps_f.split(",")
list = []
tot = 0
len = 0
for i in week_temps_f:
    x = float(i)
    list.append(x)
    tot = tot+x
    len = len +1
avg_temp = tot/len

564.7

80.67142857142858

In [55]:
list

[75.1, 77.7, 83.2, 82.5, 81.0, 79.5, 85.7]

In [57]:
type(list[0])

float

In [60]:
list = []
for i in range(68):
    list.append(i)

In [61]:
list

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67]

In [8]:
original_str = "The quick brown rhino jumped over the extremely lazy fox"
original_str = original_str.split(" ")
num_words_list = []
for i in range(len(original_str)):
    num_words_list.append(len(original_str[i]))
num_words_list

[3, 5, 5, 5, 6, 4, 3, 9, 4, 3]

In [9]:
yesno = input('Enter Yes or No:')
if yesno[0] == 'Y' and len(yesno) > 0:
   print('Yes!')

IndexError: string index out of range

In [10]:
yesno = input('Enter Yes or No:')
if len(yesno) > 0 and yesno[0] == 'Y':
   print('Yes!')

In [11]:
courses = ["ENGR 101", "SI 110", "ENG 125", "SI 106", "CHEM 130"]

if "SI 106" in courses:
    print("You can apply to SI!")
else:
    print("Take SI 106!")

You can apply to SI!

In [ ]:
a = 20
b=15

if b >a:
    a=a*2
c = a+b

In [12]:
str1 = "Today you are you! That is truer than true! There is no one alive who is you-er than you!"
if "false" in str1:
    output = "False. You aren’t you?"
elif "true" in str1:
    output = "True! You are you!"
else:
    output ="Neither true nor false!"

In [ ]:
percent_rain = [94.3, 45, 100, 78, 16, 5.3, 79, 86]
resps = []
for i in percent_rain:
    if i>90:
        resps.append("Bring an umbrella.")
    elif i>80:
        resps.append("Good for the flowers?")
    elif i> 50:
        resps.append("Watch out for clouds!")
    else:
        resps.append("Nice day!")

In [15]:
x =64
output = []

if x > 63:
    output.append(True)
elif x > 55:
    output.append(False)
else:
    output.append("Neither")

if x > 67:
    output.append(True)
else:
    output.append(None)

In [16]:
output

[True, None]

In [20]:
rainfall_mi = "1.65, 1.46, 2.05, 3.03, 3.35, 3.46, 2.83, 3.23, 3.5, 2.52, 2.8, 1.85"
rainfall_mi = rainfall_mi.split(",")
num_rainy_months = 0
for i in rainfall_mi:
    x = float(i)
    if x > 3:
        num_rainy_months = num_rainy_months+1
num_rainy_months

5

In [22]:
sentence = "students flock to the arb for a variety of outdoor activities such as jogging and picnicking"
same_letter_count = 0
sentence = sentence.split()
for i in sentence:
    if i[0]==i[-1]:
        same_letter_count = same_letter_count+1
same_letter_count

2

In [23]:
items = ["whirring", "wow!", "calendar", "wry", "glass", "", "llama","tumultuous","owing"]
acc_num = 0
for i in items:
    if "w" in i:
        acc_num = acc_num+1
acc_num

4

In [25]:
sentence = "python is a high level general purpose programming language that can be applied to many different classes of problems."
sentence = sentence.split()
num_a_or_e = 0
for i in sentence:
    if "a" in i:
        num_a_or_e = num_a_or_e+1
    elif "e" in i:
        num_a_or_e = num_a_or_e+1
num_a_or_e

14

In [28]:
s = "singing in the rain and playing in the rain are two entirely different situations but both can be fun"
# s = s.split()
vowels = ['a','e','i','o','u']
num_vowels = 0
for i in s:
    if i in vowels:
        num_vowels= num_vowels+1
num_vowels

32